
body {
    
    background-color: #292929;
    
    
}

.navbar {
    margin-bottom: 2rem;
    
}

label {
    padding: 0.5rem;
}




.filtro {
    /*display: flex; */
    color: rgb(255, 255, 255);
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    padding: 2rem;
    height: auto;
    line-height: 1.8rem;
    width: 320px;
    font-size: large;
    
}



.lista {
    background-color: rgb(26, 26, 26);
}

.lista--jogadores {
    
    color: white;
    height: 100px;
    
    padding: 1rem 2rem;
    align-items: center;
    text-align: center;
    line-height: 1.8rem;
}

.jogador:hover {
    
    transition: 0.1s;
    color: black;
    background-color: rgb(223, 223, 223);
}

.jogador--hab, .jogador--pot {
    font-size: small;
}
@media (min-width: 1040px) {
    .jogador--nome {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .jogador--hab, .jogador--pot {
        font-size: 1rem;
    }
    
}

.jogador--posicao {
    font-size: 0.7rem;
    font-style: italic;
    
}


.rodape {
    
    
    color: white;
    
    background-color: black;
    padding: 30px;
    font-size: small;
    margin-top: 2rem;
}


.invisivel {
    display: none;
}

