body {
    display: grid;
    grid-template-columns: auto auto;
}

.cabecalho {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: rgb(0, 255, 191);
    grid-column: 1 / span 4;
}


.filtro {
    display: flex;
    color: rgb(0, 255, 191);
    flex-direction: column;
    background-color: rgb(19, 0, 187);;
    padding: 4% 10%;
    margin-left: 20%;
    grid-column: 1;
}

.rodape {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 255, 191);
    padding: 30px;
    grid-column: 1 / span 4;
}

.lista--jogadores {
    width: 100%;
    background-color: rgb(255, 249, 162);
    height: 100px;
    grid-column: 2 / span 3;
    padding: 1rem;
}

.invisivel {
    display: none;
}